<!doctype html>
<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Entreprises du CAC40</h2>
    <div ng-controller="TodoListController as todoList">
      <tr ng-repeat="todo in todoList.todos" class="unstyled">
        <td>
            <span>{{todoText.text}}</span>
        </td>
		<td>
            <span>{{todo.text}}</span>
        </td>
		<td>
            <span>{{todo.text}}</span>
        </td>
      </tr>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="Entrez le nom de l'entreprise" class="CompanyInput">
		<input type="text" ng-model="todoList.todoSector"  size="30"
               placeholder="Entrez son secteur" class="CompanyInput">
		<input type="text" ng-model="todoList.todoLeader"  size="30"
               placeholder="Entrez son dirigeant" class="CompanyInput">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>